// 将会被自动应用的全局样式文件，会生成在最终的 CSS 文件结尾，具有比默认样式更高的优先级。
.content pre{
  margin: 0!important;
  border-radius: 0 !important;
}
.content code{
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  padding: 2px 4px;
  color: #d14 !important; 
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}
.content pre code{
  color: #fff !important;
  border: none;
}
.content h3 {
  margin: 52px 0 1.2em;
  line-height: 1.2;
  position: relative;
}

.content h2:before, .content h3:before {
  content: "";
  display: block;
  margin-top: -91px;
  height: 91px;
  visibility: hidden;
}

.content h2 {
  margin: 45px 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}

.content__default:not(.custom) {
  max-width: 740px;
  margin: 0 auto;
  padding: 3rem 2.5rem;
}