// 自定义样式
.content pre{
  margin: 0!important;
  border-radius: 0 !important;
}
.content code{
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  padding: 2px 4px;
  color: #d14 !important; 
  border: 1px solid #e1e1e8;
  border-radius: 3px;
}
.content pre code{
  white-space: pre-wrap;
  color: #fff !important;
  border: none;
}